
//
//
//
// Icons
//
// !! Care: only edit the icons-template!
// !! Care: the cssClass gets abused as a timestamp
//          to bypass the browser caching mechanism.
//
// That file is automatically compiled from a template,
// that is used inside the `icons` task. You can find
// the template at: `font-icons-web__TEMPLATE_FOR_STYL.txt`.
//
//
//

@font-face {
    font-family: "icons-web";
    src: unquote("url(data:application/font-woff2;charset=utf-8;base64," + $iconsFont + ")") format('woff2'),
        url('/assets/fonts/icons-web/icons-web.woff?2017-4-2T10-46-23-0') format('woff'),
        url('/assets/fonts/icons-web/icons-web.ttf?2017-4-2T10-46-23-0') format('truetype');
}

[class^="icon-"],
[class*=" icon-"],
.icon-base-pseudo {
    display: inline-block;
    vertical-align: middle;
    font-family: "icons-web";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    line-height: 1;
}

$icons = {
    code: "\E001",
    download: "\E002",
    envelope: "\E003",
    link-out: "\E004",
    link: "\E005",
    plane: "\E006",
    telephone: "\E007",
}

//
// Icons
//

.icon-code:before {
    content: "\E001";
}

.icon-download:before {
    content: "\E002";
}

.icon-envelope:before {
    content: "\E003";
}

.icon-link-out:before {
    content: "\E004";
}

.icon-link:before {
    content: "\E005";
}

.icon-plane:before {
    content: "\E006";
}

.icon-telephone:before {
    content: "\E007";
}

