





.reference {
    margin: 0.26rem 0;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: hsla(222, 16%, 55%, 1);

    > a {
        color: inherit;

        &:hover {
            color: hsla(222, 100%, 55%, 1);
        }

    }
}
