
html
    overflow-y scroll
    overflow-x hidden
    cursor default
    font-size 10px
    font-family $font

    @media $desktop-hd-plus
        font-size 12px

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale

body
    //

a
    text-decoration none
