// hsla fix to override the default (FAULTY) function of Stylus self...

hsla(hue, saturation, lightness, alpha)
    unquote("hsla(" + hue + ", " + saturation + ", " + lightness + ", " + alpha + ")")

hsl(hue, saturation, lightness)
    unquote("hsla(" + hue + ", " + saturation + ", " + lightness + ")")
