//
//
// Grid

$grid-debug                     = false

$grid-max-width                 = 95rem
$grid-wide-max-width            = 120rem
$grid-narrow-max-width          = 70rem
$grid-gutter                    = 1.6rem

//
//
// Colors

$color-primary                  = #3A74FF // hsla(222, 100%, 61%, 1)
$color-primary-hue              = 222

$text-shadow                    = 0.1rem 0.1rem 0 rgba(0,0,0, 0.06)

//
//
// Transitions

$transition--colors             = 162ms ease-out
$transition--transform          = 62ms linear
$transition--motion             = .1s cubic-bezier(0,1,.87,1)

//
//
// Typography

$font                           = 'Open Sans Web', Helvetica, Arial, sans-serif // Open Sans,

$font--smaller                  = 0.74em
$font--larger                   = 1.26em

$font--xx-small                 = 1.1rem
$font--x-small                  = 1.2rem
$font--small                    = 1.5rem
$font--medium                   = 1.7rem
$font--large                    = 2.6rem
$font--x-large                  = 3.8rem
$font--xx-large                 = 6.2rem
