@import "./variables.css";

@import "./partials/*.css";

.work {
    max-width: calc(var(--width-narrow) + 8rem);
    padding: 0 2.6rem;
    margin: calc(10vh + 3.8rem) auto calc(10vh + 3.8rem) auto;
    font-size: var(--font-size--medium--mobile);

    @media (width >= 568px) {
        padding: 0 4rem;
    }

    @media (width >= 768px) {
        font-size: var(--font-size--medium);
    }
}

.work__name {
    margin: 1.3rem 0 1.3rem 0;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.1;
    text-shadow: var(--text-shadow);

    @media (width >= 768px) {
        margin-top: 0.4rem;
        font-size: 4.2rem;
        font-weight: 200;
        text-indent: -0.2rem;
    }
}

@keyframes NOW {
    0% {
        opacity: 1;
    }
    6% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.work__meta {
    line-height: 1.38;
    margin: 0.4rem 0;
    font-size: 1.2rem;

    span.now {
        color: hsl(222, 100%, 61%);
        animation: 1380ms linear NOW infinite;
    }

    @media (width >= 768px) {
        font-size: inherit;
    }
}

.work__description {
    margin: 1.6rem 0 0 0;
    line-height: 1.38;
}

.work__projects {
    margin: 1.3rem 0 1.3rem 0;

    @media (width >= 568px) {
        margin: 0rem 0 1.6rem;
    }
}

.work__projects__project {
    position: relative;
    padding: 2.8rem 0 0 0;

    &:before {
        content: '';
        position: absolute;
        top: 1.6rem;
        left: 0;
        right: 0;
        display: block;
        /* width: 3.8rem; */
        height: 0.1rem;
        background: hsla(222, 38%, 95%, 1);

    }
}






.tag {
    padding: 0 0.4rem 0.1rem;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    background: hsla(222, 0%, 97%, 1);
    color: hsla(222, 16%, 26%, 1);
    top: -0.1rem;
    position: relative;

    @media (width >= 768px) {
        padding: 0.1rem 0.4rem 0.1rem;
        font-size: 1.2rem;
    }
}




.btn-goto {
    display: inline-block;
    position: relative;
    top: -0.2rem;
    margin: 0 0 0 0.5rem;
    color: hsla(222, 89%, 74%, 1);
    font-size: 1.2rem;
    transition: 162ms ease-out;

    > u {
        /* Used for text */
        display: inline-block;
        font-weight: 500;
        font-size: 1rem;
        line-height: 0.9;
        text-transform: uppercase;
        text-decoration: none;
        box-shadow: 0 1px 0 0 hsla(222, 100%, 61%, 0.38);
        transition: 162ms ease-out;
    }

    &:hover {
        color: hsla(222, 100%, 61%, 1);
        transition: none;

        > u {
            box-shadow: 0 1px 0 0 hsla(222, 100%, 61%, 1);
            transition: none;
        }
    }

    &:active {
        color: hsla(222, 100%, 50%, 1);
    }
}


.project {
    margin: 0;
}

.project__name {
    font-size: inherit; /* Compensates for <h5> tag */
    font-weight: 400;
}
