
@import "./variables.css";

.profile {
    margin: calc(10vh + 8.8rem) 0 calc(10vh + 3.8rem) 0;
    padding: 0.1rem 0 0.1rem 0;
    background: hsla(222, 0%, 97%, 1);
}

.profile-center {
    max-width: 97rem;
    margin: 0 auto;

    @media (width >= 568px) {
        display: flex;
    }

    @media (width >= 768px) {
        padding: 0 1rem;
    }
}

.profile-left {

    @media (width >= 568px) {
        flex: 0 0 20%;
    }

    @media (width >= 768px) {
        flex: 0 0 26rem;
    }

    > img { /* Image of me */
        display: block;
        margin: -5.6rem 0 1rem 0;
        width: 100%;
        height: auto;
        box-shadow: 0 0.2rem 1rem hsla(222, 38%, 61%, 0.1);

        @media (width < 568px) {
            margin-left: auto;
            margin-right: auto;
            width: 16.2rem;
        }

        @media (width >= 568px) {
            margin-top: -2.6rem;
        }

        @media (width >= 768px) {
            margin-top: -5.6rem;
        }
    }

    > p { /* Tags */
        margin: 0 0 2rem 0;
        padding: 0 1.6rem;
        font-family: Raleway Web, Helvetica, Arial, sans-serif;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 400;
        line-height: 138%;
        text-align: center;
        word-spacing: 0.3rem;
        color: hsla(222, 16%, 55%, 1);

        @media (width >= 568px) {
            padding: 0;
            font-size: 1.4rem;
        }

        @media (width >= 768px) {
            font-size: 1.8rem;
        }
    }
}

.profile-right {
    position: relative;
    padding: 0 0 0.6rem 0;
    margin: 0 2.6rem 0 2.6rem;
    font-size: 1.5rem;

    @media (width >= 768px) {
        margin: 0 1.6rem 0 2.6rem;
        font-size: 1.7rem;
    }

    > small /* Meta with grey text */ {
        display: block;
        margin: 1rem 0 0 0;
        color: hsla(222, 16%, 55%, 1);
        font-size: 1.2rem;
        line-height: 1.4rem;

        @media (width >= 768px) {
            position: absolute;
            top: -2.6rem;
            left: 0;
            margin: 0;
        }
    }

    > ul /* Meta with small text */ {
        margin: 1.1rem 0;

        > li {
            font-size: 1.2rem;
            line-height: 1.4rem;
            margin: 0.58rem 0;
        }
    }

    > p {
        margin: 1.8rem 0;
    }
}
