
@import "./variables.css";

.skills {
    max-width: 95rem;
    margin: 7rem auto 0 auto;
}

.skills-container {
    display: grid;
    /*
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 120px;
    justify-content: center;
    align-items: flex-start;
    */
    display: grid;
    grid-auto-columns: 5%;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row dense;
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.4rem;
}

.skill {
    padding: 0.4rem 0.6rem;
    background: hsla(222, 0%, 97%, 1);

    &.___type-js {
        background: #f7df1e;
        color: #000;
    }
}

.skill-expert {
    display: block;
    text-align: center;
}




.skills-super {
    /*
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    */
    height: 200px;

    > li {
        float:left;
    }
}
