
:root {
    --width-narrow: 62rem;
    --text-shadow: 0.1rem 0.1rem 0 rgba(0,0,0,0.06);
    --font-size--medium--mobile: 1.5rem;
    --font-size--medium: 1.7rem;

    --mobile-portrait: 568px;
    --tablet: 768px;
    --desktop: 992px;
    --desktop-xl: 1200px;
    --desktop-hd: 1920px;
}
