* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//
//
//

ul, ol {
    list-style: none;
}

//
// Form - Elements
//

button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
}

input  {
    border: 0;
    box-shadow: none;

    &:focus {
        outline: 0;
    }
}
