

@keyframes SLIDE {
    0% {
        transform: translate(0, 100%);
    }
    62% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.pdf-form {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 6.2vw;
    padding: 1.6rem 2.6rem 1rem 2.6rem;
    border-radius:  0.62rem 0.62em 0 0;
    box-shadow: 0 0.2rem 0.4rem hsla(222, 38%, 61%, 0.2);
    background: #fff;
    transition: 380ms 28ms ease transform;
    animation: SLIDE 2s ;

    @media (width <= 768px) {
        display: none;
    }


    > button {
        margin: 0 0 0.3rem 0;
        padding: 1.2rem 2rem;
        background: hsla(222, 100%, 61%, 1);
        border-radius: 0.4rem;
        cursor: pointer;
        font-size: 4.2rem;
        color: #fff;
        transition: 162ms linear;
        font-weight: 200;

        &:hover {
            background: hsla(222, 100%, 58%, 1);
        }

        &:active {
            background: hsla(222, 100%, 50%, 1);
        }

        &:focus {
            outline: 0;
        }

        &.___is-loading {
            background: hsla(222, 50%, 40%, 1);
        }

        > .icon-holder {
            display: inline-block;
            width: 4.2rem;
            height: 4.9rem;

            > i {
                position: relative;
                top: -0.6rem;
                left: -0.4rem;
                font-size: 110%;
            }

            > .indication {
                position: relative;
                top: 0.7rem;
                left: 0.2rem;
            }
        }
    }

    > small {
        display: block;
        font-size: 0.9rem;
        text-transform: uppercase;
    }
}
