.page-layout
    display flex
    flex-direction column
    min-height 100vh
    overflow-x hidden

.page-layout__header
    flex-shrink 0




.page-layout__leader

    @media $tablet-plus
        margin 1rem 0 0 0

.page-layout__main
    flex 1 0 auto

    position relative
    width 100%
    overflow hidden

.page-layout__footer
    flex-shrink 0
