.page-footer
    padding 1rem 1.4rem
    font-size $font--x-small
    color hsla($color-primary-hue, 10%, 74%, 1)

    @media $tablet-plus
        display flex

.footer-meta-group
    margin-right 1.5rem

    &.___small-margin-right
        margin-right 0.8rem

.page-footer__meta
    @media $tablet-plus
        width 75%

.page-footer__update
    text-align right

    @media $tablet-plus
        width 25%
