.page-header
    //

@keyframes SPANNING {
    0% {
        transform translate(0vh, 0) skew(-34deg)
    }
    50% {
        transform translate(50%, 0) skew(-34deg)
    }
    100% {
        transform translate(0vh, 0) skew(-34deg)
    }
}

@keyframes SPANNING-2 {
    0% {
        transform translate(0vh, 0) skew(-34deg)
    }
    50% {
        transform translate(60%, 0) skew(-34deg)
    }
    100% {
        transform translate(0vh, 0) skew(-34deg)
    }
}

@keyframes PLANE {
    0% {
        transform translate(0vh, 0) rotate(-6.2deg)
    }
    100% {
        transform translate(200rem, -4rem) rotate(-7.2deg)
    }
}

.page-header__intro
    position relative
    overflow hidden
    padding 10vh 4rem 2.2rem
    color hsla($color-primary-hue, 10%, 98%, 1)
    font-size $font--medium
    line-height 1.38em

    background-color hsla(222, 100%, 61%, 1)
    background-image linear-gradient(38deg, transparent, hsla(222, 100%, 62%, 0.1)), radial-gradient(ellipse farthest-corner at -10% -10% , hsla(222, 100%, 54%, 0.1) 0%, rgba(0, 0, 255, 0) 50%, hsla(222, 100%, 54%, 1) 95%)

    &:before
        content ''
        display block
        position absolute
        width 26vw
        top 0
        bottom 0
        left 10vw
        background-image linear-gradient(0deg, hsla(222, 100%, 55%, 0.1), hsla(222, 100%, 71%, 0.2)), radial-gradient(transparent, hsla(222, 100%, 74%, 0.06))
        transform skew(-34deg)
        animation SPANNING 60s infinite

    &:after
        content ''
        display block
        position absolute
        width 38vw
        top 0
        bottom 0
        left 78vw
        background-image linear-gradient(0deg, hsla(222, 100%, 71%, 0.1), hsla(222, 100%, 55%, 0.2)), radial-gradient(transparent, hsla(222, 100%, 74%, 0.06))
        transform skew(-34deg)
        animation SPANNING-2 66s infinite

    @media $tablet-plus
        display flex
        align-items center
        min-height 74vh
        font-size $font--x-large
        font-weight 200
        text-shadow $text-shadow

.page-header__intro__center
    position relative
    z-index 2
    max-width $grid-max-width

    @media $tablet-plus
        margin calc(20vh + 4.2rem) auto calc(10vh + 2.6rem)

.page-header__plane
    display none

    @media $tablet-plus
        display block
        position absolute
        top 20vh
        right 48vw
        color #fff
        transform rotate(-6.2deg) translate(100rem, -4rem)
        animation PLANE 600s ease-out

        &::before
            content ''
            opacity 0.12
            display block
            position absolute
            top 2.85rem
            left -38rem
            right 0.8rem
            height 0.4rem
            filter blur(0.1rem)
            background linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0.3), rgba(255,255,255,0.5), rgba(255,255,255,0.2), #fff)

        > .icon-plane
            font-size 1rem
            opacity 0.74

.page-header__intro__info
    position relative
    top -0.3rem
    margin 1.9rem 0 0 0.2rem
    display block
    color #fff
    font-size $font--x-small
    font-style normal
    letter-spacing 0.025em
    font-weight 500
    line-height 1

    > span
        //

    @media $mobile-tablet
        > span
            display block
            padding 0.8rem 0 0 0

        > a
            display none

    @media $desktop-plus
        position static
        margin 1.2rem 0 0 0.2rem
        letter-spacing 0.03em

        > span
            &:before
                content ' — '

.page-header__ctas
    display none
    margin 3.2rem 0 0 -0.1rem

    @media $desktop-plus
        display block

    > a
        margin 0 1.1rem 0 0
        padding 0.8rem 2.3rem 0.9rem 2.3rem
        border 0.1rem solid hsla($color-primary-hue, 26%, 94%, 0.2)
        border-radius 9rem
        color inherit
        transition 162ms ease-out
        font-size 80%

        > i
             position relative
             top -0.2rem
             margin 0 0.2rem 0 0

        > u
            display inline-block
            position relative
            top -0.2rem
            left -0.3rem
            text-decoration none
            font-size 90%

        &:hover
            border-color hsla($color-primary-hue, 26%, 94%, 0.62)
            background hsla($color-primary-hue, 26%, 94%, 0.038)
            transition none

        &:active
            background hsla($color-primary-hue, 26%, 94%, 0.16)
            transition none

//
// INFO
//

@keyframes SLIDE-NAV-IN {
    0% {
        transform translate(0, -100%)
    }
    100% {
        transform translate(0, 0)
    }
}

.page-header__nav
    font-size $font--small
    background #fff

    @media $tablet-plus
        position fixed
        z-index 1000
        top 0
        right 0
        left 0
        animation SLIDE-NAV-IN 1s
        box-shadow 0 0 1.6rem hsla(222,38%,61%,0.2)

    @media $desktop-plus
        display flex
        min-height 7.3rem

//
// NAV - INFO
//

.page-header__nav__info
    flex 1 1

    padding 3rem 0 0 3.8rem
    font-size $font--small

    @media $mobile-landscape-plus
        display flex

    @media $desktop-plus
        font-size $font--medium

.page-header__nav__info__name
    font-size inherit
    font-weight inherit

.page-header__nav__info__jobtitle
    display block
    color hsla($color-primary-hue, 16%, 55%, 1)

    @media $mobile-landscape-plus
        display inline
        margin-left 0.9em

//
// NAV - CONTACT
//

.page-header__nav__contact
    padding 2rem 3rem 0 2.8rem

    @media $mobile-landscape-plus
        padding-right 0
        padding-top 0
        display flex

    @media $desktop-plus
        padding 1.4rem 3rem 0 0

//
// NAV - CONTACT - LINK
//

.link-contact
    display flex
    align-items center
    color hsla($color-primary-hue, 100%, 61%, 1)
    font-size $font--small
    background #fff
    transition 162ms ease-out

    @media $mobile-portrait
        padding 0.3rem 1.2rem 0.6rem 0.5rem
        height 3.8rem

    @media $mobile-landscape-plus
        padding 0.8rem 1.2rem 1rem 0.5rem
        height 5.6rem

    &:hover
        background hsla($color-primary-hue, 100%, 98%, 1)
        transition none

    &:active
        background hsla($color-primary-hue, 100%, 96%, 1)
        color hsla($color-primary-hue, 100%, 50%, 1)
        transition none

.link-contact__icon
    font-size 1.8em
    margin 0.1em
    line-height 1

.link-contact__text

    &.___underlined
        text-decoration underline

    .___medium > &
        position relative
        top 0.1rem
        font-size 1.8rem
