p.page-footer
    span.page-footer__meta
        span.footer-meta-group
            | © 2007–2017 Melle Wynia
        span.footer-meta-group
            = `KvK ` + CV.organisation.kvk + ` / ` + CV.organisation.name
        span.footer-meta-group.___small-margin-right
            = CV.address.streetAddress
        span.footer-meta-group
            = CV.address.postalCode + ` ` + CV.address.addressLocality
    span.page-footer__update
        = `Updated at ${CV.date} / ${npm_package.version}`
